<ion-header>
  <ion-toolbar>
    <ion-title>Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-list class="picture">
          <ion-item>
             <ion-thumbnail item-start>
               <img src= "https://profile-images.scdn.co/images/userprofile/default/c9501f48ae057b7558fc0a6f4654b55ba994ad1f">
             </ion-thumbnail>
             <h2 style="font-weight: bold;">Margo Lusinchi</h2>
           </ion-item>
         </ion-list>

        <!-- <ion-item class = "picture"> 
            <ion-avatar>
              <img src="https://profile-images.scdn.co/images/userprofile/default/c9501f48ae057b7558fc0a6f4654b55ba994ad1f">
            </ion-avatar>
            <ion-label>Margo Lusinchi</ion-label>
        </ion-item> --> 
    <br>
   <ul>
     <li>Lives in Calfornia</li>
     <li>Loves animals</li>
     <li>Can help you pick out good cheese</li>
     <li>Enjoys being outdoors</li>
   </ul>
    <p>Email: margolusinchi@gmail.com
      <br> 
      Call: 650-862-7730
    </p>

  </div>
  </ion-content>
  